form {
	width: 35%;
	float: right;
	margin-top: 40px;
	margin-left: 50px;
}

ul, li {
	display: inline;
	margin: 10px;
}

li {
	display: inline;
	float: left;
}

#jsonHolder {
	width: 65%;
	height: 75%;
	float: left;
	margin-bottom: 20px;
}

#gif-number {
	margin-top: 10px;
}